@media (max-width:420px) {
    .container {
        width: 350px;
        height: 600px;
    }

    .change a {
        margin-left: 5.2em;
    }

    .btn-1 {
        width: 310px;
    }

    .btn-2 {
        margin-top: 20px;
    }

    .attribution {
        padding-top: 15%;
    }
}